@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* ff 3.6+ */
    background: -moz-linear-gradient(202deg, rgba(222, 210, 210, 1) 0%, rgba(186, 181, 186, 1) 3%, rgba(222, 205, 222, 1) 21%, rgba(234, 227, 234, 1) 31%, rgba(227, 231, 231, 1) 50%, rgba(222, 195, 222, 1) 73%, rgba(213, 199, 213, 1) 100%); 
  
    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(202deg, rgba(222, 210, 210, 1) 0%, rgba(186, 181, 186, 1) 3%, rgba(222, 205, 222, 1) 21%, rgba(234, 227, 234, 1) 31%, rgba(227, 231, 231, 1) 50%, rgba(222, 195, 222, 1) 73%, rgba(213, 199, 213, 1) 100%);
  
    /* opera 11.10+ */
    background: -o-linear-gradient(202deg, rgba(222, 210, 210, 1) 0%, rgba(186, 181, 186, 1) 3%, rgba(222, 205, 222, 1) 21%, rgba(234, 227, 234, 1) 31%, rgba(227, 231, 231, 1) 50%, rgba(222, 195, 222, 1) 73%, rgba(213, 199, 213, 1) 100%);
  
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5C7D5', endColorstr='#DED2D2', GradientType=1 );
  
    /* ie 10+ */
    background: -ms-linear-gradient(202deg, rgba(222, 210, 210, 1) 0%, rgba(186, 181, 186, 1) 3%, rgba(222, 205, 222, 1) 21%, rgba(234, 227, 234, 1) 31%, rgba(227, 231, 231, 1) 50%, rgba(222, 195, 222, 1) 73%, rgba(213, 199, 213, 1) 100%);
  
    /* global 94%+ browsers support */
    background: linear-gradient(202deg, rgba(222, 210, 210, 1) 0%, rgba(186, 181, 186, 1) 3%, rgba(222, 205, 222, 1) 21%, rgba(234, 227, 234, 1) 31%, rgba(227, 231, 231, 1) 50%, rgba(222, 195, 222, 1) 73%, rgba(213, 199, 213, 1) 100%);

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Add this to your global CSS or component-specific CSS */
.flex {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .overflow-x-auto {
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .overflow-x-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  @media (min-width: 640px) {
    .gap-4 {
      gap: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .gap-4 {
      gap: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .gap-4 {
      gap: 2.5rem;
    }
  }
  
  .min-w-300px {
    min-width: 300px;
  }
  
  @media (min-width: 768px) {
    .min-w-350px {
      min-width: 350px;
    }
  }
  
  @media (min-width: 1024px) {
    .min-w-400px {
      min-width: 400px;
    }
  }
  
  /* Hide the scroll buttons on small screens */
  @media (max-width: 1024px) {
    .absolute.left-0, .absolute.right-0 {
      display: none;
    }
  }
  
